    <div class="col">
  <ul class="nav nav-pills">
  {% comment %}map, flatten and sort{% endcomment %}
{% assign authors =  site.posts |  map: 'author' | join: ','  | split: ',' | sort %}
{% assign previousAuthor = "" %}
{% assign counter = 0 %}

{% for currentAuthor in authors %}
  {% comment %}first loop : initializing previousAuthor{% endcomment %}
  {% if previousAuthor == "" %}
    {% assign previousAuthor = currentAuthor %}
  {% endif %}

  {% if currentAuthor == previousAuthor %}
    {% assign counter = counter | plus: 1 %}
  {% else %}
  <li class="nav-item">
   {% if page.author == previousAuthor %}
    <a id="tag" class="nav-link active btn" href="/{{ previousAuthor | slugify }}/">
   {% else %}
    <a id="tag" class="nav-link btn" href="/{{ previousAuthor | slugify }}/">
   {% endif %}
    <span>{{ previousAuthor }}</span> <b class="rounded">{{ counter }}</b></a>
    {% assign counter = 1 %}
  </li>
  {% endif %}

  {% comment %}last loop : flushing what's left to print{% endcomment %}
  {% if forloop.last %}
   <li class="nav-item">
   {% if page.author == currentAuthor %}
    <a id="tag" class="nav-link active btn" href="/{{ currentAuthor | slugify }}/">
   {% else %}
    <a id="tag" class="nav-link btn" href="/{{ currentAuthor | slugify }}/">
   {% endif %}
    <span>{{ currentAuthor }}</span> <b class="rounded">{{ counter }}</b></a>
   </li>
  {% endif %}

  {% assign previousAuthor = currentAuthor %}
{% endfor %}
 </ul>
    </div>
