    <header>
      <div class="container">
	      <a href="/"><img src="{{ '/assets/images/title.png' | relative_url }}" width="480px" class="align" alt="FireShell Security Team"></a>

        <section id="downloads">
          <a href="/" class="btn dripicons-home"><span class="icon"></span>Home</a>
          <a href="{{ site.baseurl }}{% link _pages/team.md %}" class="btn dripicons-user-group"><span class="icon"></span>Team</a>
          <a href="{{ site.baseurl }}{% link _pages/articles.md %}" class="btn dripicons-article"><span class="icon"></span>Articles</a>
          <a href="{{ site.baseurl }}{% link _pages/sponsors.md %}" class="btn dripicons-flag"><span class="icon"></span>Sponsors</a>
          <a href="{{ site.baseurl }}{% link _pages/about.md %}" class="btn dripicons-question"><span class="icon"></span>About</a>
        </section>
      </div>
    </header>
