<div class="container links">
<p>Connect me:<br />
<a class="icon dripicons-mail nounderline" href="mailto:lucasnataniel@fireshellsecurity.team" target="_blank"></a>
<a class="icon fab fa-facebook nounderline" href="https://www.facebook.com/lucas.nathaniel.7" target="_blank"></a>
<a class="icon fab fa-twitter nounderline" href="https://twitter.com/K4L1_FS/" target="_blank"></a>
<a class="icon fab fa-linkedin nounderline" href="https://www.linkedin.com/in/lucas-nathaniel/" target="_blank"></a>
<a class="icon dripicons-feed nounderline" href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"></a></p>
</div>
