<div class="social-links">
  <a class="btn btn-link" href="mailto:{{ site.email }}" target="_blank" role="button"><i class="far fa-envelope fa-2x"></i></a>
  <a class="btn btn-link" href="https://www.facebook.com/{{ site.facebook_username }}/" target="_blank" role="button"><i class="fab fa-facebook fa-2x"></i></a>
  <a class="btn btn-link" href="https://twitter.com/{{ site.twitter_username }}/" target="_blank" role="button"><i class="fab fa-twitter fa-2x"></i></a>
  <a class="btn btn-link" href="https://www.linkedin.com/company/{{ site.linkedin_username }}/" target="_blank" role="button"><i class="fab fa-linkedin fa-2x"></i></a>
  <a class="btn btn-link" href="https://www.instagram.com/{{ site.instagram_username }}/" target="_blank" role="button"><i class="fab fa-instagram fa-2x"></i></a>
  <a class="btn btn-link" href="https://t.me/{{ site.telegram_username }}/" target="_blank" role="button"><i class="fab fa-telegram fa-2x"></i></a>
  <a class="btn btn-link" href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank" role="button"><i class="fas fa-rss fa-2x"></i></a>
</div>
