---
layout: default
---
{% assign post = page %}

<div id="post" class="container pt-3">
  <div class="row">
    <div class="col">
    <p class="lead text-info">{{ post.date | date: "%A, %B %-d, %Y" }}</p>
    <h1>{{ page.title }}</h1>
    <p class="lead text-info">by <a href="/{{ page.author }}/">{{ site.data.authors[page.author].name| default: site.author }}</a></p>

<article>
    {{ content }}

    {% if post.tags.size > 0 %}
      {% capture tags_content %}{% if post.tags.size == 1 %}
      <i class="fas fa-tag"></i>

      {% else %}
      <i class="fas fa-tags"></i>
      {% endif %}{% endcapture %}
      
      {% assign tags_sort = post.tags | sort %}
      {% for post_tag in tags_sort %}
         {% assign tag = site.data.tags[post_tag] %}
        {% if tag %}{% capture tags_content_temp %}
	{{ tags_content }}
	<a class="small" href="/{{ post_tag }}/">{{ tag.name }}</a>
	{% if forloop.last == false %}, {% endif %}{% endcapture %}
          {% assign tags_content = tags_content_temp %}
        {% endif %}
      {% endfor %}
    {% else %}
      {% assign tags_content = '' %}
    {% endif %}

    <p>{{ tags_content }}</p>
</article>
{% if site.disqus.shortname %}
  {% include disqus_comments.html %}
{% endif %}
</div>
  </div>
</div>
